body, html {
  margin: 0;
  font-family: Roboto,sans-serif;
  scroll-behavior: smooth;
}

.page {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  -webkit-transition: visibility 3s;
  -o-transition: visibility 3s;
  transition: visibility 3s;
}
.loaderpage{
 
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px solid #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.page::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
  border-radius: 200px;
  border-top-color: #000;
  border-bottom-color: #9356dc;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
}
.headerlogo {
  text-align: center;
  padding: 1rem 0 0 0;
}
}
}
}
.reservationSearch {
  margin: 3rem 0 0 0;
}

.boutton {
  color: #fff;
  margin: 4rem 0 3.5rem 0;
  border-radius: 2rem;
  border: 0;
  -webkit-box-shadow: 3px 3px 3px #dedada;
  box-shadow: 3px 3px 3px #dedada;
  font-size: 1.5rem;
  padding: 1rem;
  background-image: -o-radial-gradient(20px 0, ellipse farthest-corner, #FF79DA 0%, #9356DC 100%);
  background-image: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  cursor: pointer;
}

